/* OVERWRITING DEFAULT TAGS */
body {
    background-color: #f0f0f0;
    height: 100%;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

p {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: #555555;
    font-weight: bolder;
}


hr {
    margin: 0.5rem 0;
}

label {
    margin-bottom: 0.5rem;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    line-height: 13px;
}

input[type="text"], select {
    height: 2rem;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    font-size: 0.8em;
}

span {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}