.panel.colourblock__top, .panel.colourblock__bottom {
    color: #ffffff;
    font-weight: bolder;
}

.panel.colourblock__top.thin, .panel.colourblock__bottom.thin {
    padding: 0.5rem 1rem;
}

.panel.panel__middle, .panel.colourblock__bottom {
    margin-top: 0.2rem;
}

.panel.panel__middle {
    padding: 1rem;
}

.panel.colourblock__bottom > a{
    color: #ffffff;
    font-weight: bolder;
}

.panel.colourblock__bottom.empty {
    height: 2.5rem;
}

.panel.colourblock__bottom.user__percent {
    padding: 0.2rem 0.5rem;
    font-size: 0.8em;
    margin-bottom: 1rem;
}

.panel.colourblock__bottom.clickable, .panel.colourblock__top.clickable {
    cursor: pointer;
}

.panel.colourblock__top h4, .panel.colourblock__top h5 {
    color: #ffffff;
}

.circle {
    border-radius: 2000px;
    background-color: #ffffff;
    height: 2em;
    width: 2em;
    font-size: 2em;
}

.circle i {
    vertical-align: middle;
    padding-right: 5%;
}

.progress.user__grades {
    height: 10px;
    margin: 0;
    width: 100%;
}

.columns.user__percent {
    padding: 0;
    font-size: 0.8em;
}

.columns.user__bar {
    padding-top: 0.4rem;
}

.topic_dash{
    color: #000000;
}

.panel_content{
    line-height: 1.5em;
}

.panel.listing {
    margin: 0.1rem 0;
    padding: 0.3rem 1rem;
}

.teal.alert-box {
    border-color: #bbbbbb;
}
