/* SIDE NAVIGATION BAR */
.side__navigation {
    position: fixed;
    background-color: #444555;
    height: 100%;
    width: 15rem;
    z-index: 10;
    -webkit-transition: width 500ms ease;
    -moz-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
}

.side-navigation__toggle {
    width: 3em;
    -webkit-transition: width 500ms ease;
    -moz-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
}

.side__navigation > a {
    text-align: center;
    font-size: 0;
}

.side-navigation__logo {
    display: block;
    height: 3.5rem;
    margin-bottom: 0.5rem;
}

ul.side-navigation__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "";
    margin: 0;
}

ul.side-navigation__content > li {
    list-style-type: none;
    padding: 0.5rem 0;
}

ul.side-navigation__content > li:first-child:hover {
    background-color: #444555;
}

ul.side-navigation__content > li:hover {
    background-color: #2C2D37;
}

ul.side-navigation__content > li.toggle__side {
    background-color: #57586C;
}

ul.side-navigation__content > li.user__name {
    color: #ffffff;
    display: block;
    font-weight: bolder;
    padding-right: 4rem;
    margin: 0 1rem;
}

ul.side-navigation__content > li > a {
    display: block;
    color: #dddddd;
    padding-right: 4rem;
    margin: 0 1rem;
}

ul.side-navigation__content > li > a > i {
    padding-right: 1rem;
    font-size: 1em;
}

/* TOP NAVIGATION BAR */
.top__navigation {
    position: fixed;
    background-color: #7C7D92;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 3px solid #444555;
}

.top__navigation p {
    font-size: 1.5em;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 0;
    padding: 0 18rem;
    -webkit-transition: padding 500ms ease;
    -moz-transition: padding 500ms ease;
    -o-transition: padding 500ms ease;
    transition: padding 500ms ease;
}

.top__navigation p.title__expand {
    padding: 0 4em;
    -webkit-transition: padding 500ms ease;
    -moz-transition: padding 500ms ease;
    -o-transition: padding 500ms ease;
    transition: padding 500ms ease;
}

/* MAIN CONTENT */
.main__page {
    padding-left: 15rem;
    padding-top: 6rem;
    min-height: 90%;
    -webkit-transition: padding-left 500ms ease;
    -moz-transition: padding-left 500ms ease;
    -o-transition: padding-left 500ms ease;
    transition: padding-left 500ms ease;
}

.main-page__expand {
    padding-left: 3em;
    -webkit-transition: padding-left 500ms ease;
    -moz-transition: padding-left 500ms ease;
    -o-transition: padding-left 500ms ease;
    transition: padding-left 500ms ease;
}

.toggle__visibility {
    visibility: hidden !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .side__navigation {
	position: absolute;
	background-color: #444555;
	height: 100%;
	width: 3em;
	z-index: 10;
	-webkit-transition: width 500ms ease;
	-moz-transition: width 500ms ease;
	-o-transition: width 500ms ease;
	transition: width 500ms ease;
    }

    .side-navigation__toggle {
	width: 15rem;
	-webkit-transition: width 500ms ease;
	-moz-transition: width 500ms ease;
	-o-transition: width 500ms ease;
	transition: width 500ms ease;
    }

    .side__navigation span {
	visibility: hidden;
    }

    .user__name span {
	display: none;
    }

    .toggle__visibility {
	visibility: visible !important;
    }

    .main__page {
	margin-left: 3em;
	padding-top: 3rem;
    }

    .top__navigation p {
	font-size: 1.5em;
	font-weight: bolder;
	color: #ffffff;
	margin-bottom: 0;
	padding: 0 4em;
    }
}

