/* OVERWRITING DEFAULT TAGS */
body {
    background-color: #f0f0f0;
    height: 100%;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

p {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #555555;
    font-weight: bolder;
}

label {
    margin-bottom: 0.5rem;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    line-height: 13px;
}

input[type="text"], select {
    height: 2rem;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    font-size: 0.8em;
}


/* DEFINING COLOURS */
.green {
    background-color: #8bc641 !important;
}

.blue {
    background-color: #450869 !important;
    /*background-color: #80b8cc !important;*/
}

/* FOUNDATION MODS */
.panel {
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 1.25rem;
}

.container {
    padding: 2rem;
}

.pricing-table .title {
    font-weight: bold;
    padding: 0.3rem 1rem;
}

.pricing-table .price {
    color: #888888;
    background-color: #ffffff;
    padding: 1rem;
}

.pricing-table .description {
    background-color: #ffffff;
    padding: 0.5rem 2rem;
    padding-top: 0;
}

.progress {
    background-color: #CCCCCC;
}

.progress p {
    color: #ffffff;
    font-weight: bolder;
    font-size: 0.8em;
    padding: 0 0.5rem;
}

span.t-align {
    vertical-align: middle;
}

li.description p {
    margin-bottom: 0.5rem;
}

table thead tr th, table tr td {
    padding: 0.25rem; !important
}

.bottom {
    vertical-align: bottom !important;
}

.lastmod p{
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
}

.quiz-feedback {
    margin-bottom: 1rem !important;
}

/* ICONS */
.fi-pencil, .fi-torso, .fi-wrench, .fi-magnifying-glass {
    opacity: 0.7;
    color: #ffffff;
    font-size: 2em;
    vertical-align: middle;
}
