/* FOUNDATION MODS */
.panel {
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 1.25rem;
}

.content.panel {
    margin: 0;
    padding: 2rem;
}

.button {
    margin-bottom: 0.5rem;
}

.button.tiny{
    padding: 0.5rem 1rem;
    font-size: 1em;
}


.pricing-table {
    height: 650px;
    padding-bottom: 10%;
    
}

.pricing-table .title {
    font-weight: bold;
    padding: 0.3rem 1rem;
}

.pricing-table .price {
    color: #888888;
    background-color: #ffffff;
    padding: 1rem;
}

.pricing-table .description {
    background-color: #ffffff;
    padding: 0.5rem 2rem;
    padding-top: 0;
}

.progress {
    background-color: #CCCCCC;
}

.progress p {
    color: #ffffff;
    font-weight: bolder;
    font-size: 0.8em;
    padding: 0 0.5rem;
}

span.t-align {
    vertical-align: middle;
}

li.description p {
    margin-bottom: 0.5rem;
}

table thead tr th, table tr td {
    padding: 0.25rem; !important
}

.bottom {
    vertical-align: bottom !important;
}

.lastmod p{
    margin: 0;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
}

.quiz-feedback {
    margin-bottom: 1rem !important;
}

.edit_course{
    color: #000;
}

.alert-box.warning, .alert-box.success {
    margin: 1rem 0 !important;
}

form#search {
    margin-left: 4.5rem;
}
