/* Common, default styles for the notification box */

.ns-box {
	position: absolute;
	margin: 5%;
	background: rgba(42,45,50,0.85);
	padding: 22px;
	line-height: 1.2;
	z-index: 2;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 90%;
	font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.ns-box.ns-show {
	pointer-events: auto;
}

.ns-box a {
	color: inherit;
	opacity: 0.7;
	font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
	opacity: 1;
}

.ns-box p {
	margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
	pointer-events: auto;
}

.ns-close {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 140px;
	top: 0px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ns-close:hover, 
.ns-close:focus {
	outline: none;
}

.ns-close::before,
.ns-close::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 60%;
	top: 50%;
	left: 80%;
	background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
	background: #fff;
}

.ns-close::before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}


/* For incorrect answers */

.ns-box2 , .ns-box3 {
	position: fixed;
	margin-top: 25%;
	margin-right: 5%;
	background: rgba(42,45,50,0.85);
	padding: 32px;
	line-height: 1.2;
	z-index: 2;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 90%;
	font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.ns-box2.ns-show , .ns-box3.ns-show {
	pointer-events: auto;
}

.ns-box2 .ns-box3 a {
	color: inherit;
	opacity: 0.7;
	font-weight: 700;
}

.ns-box2, .ns-box3 a:hover,
.ns-box2, .ns-box3 a:focus {
	opacity: 1;
}

.ns-box2, .ns-box3 p {
	margin: 0;
}

.ns-box2.ns-show, .ns-box3.ns-show
.ns-box2.ns-visible, .ns-box3.ns-visible {
	pointer-events: auto;
}

.ns-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 4px;
	top: 4px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ns-close:hover, 
.ns-close:focus {
	outline: none;
}

.ns-close::before,
.ns-close::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 60%;
	top: 50%;
	left: 50%;
	background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
	background: #fff;
}

.ns-close::before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}

/* Box spinner (from http://tobiasahlin.com/spinkit/) */
.ns-effect-boxspinner {
	width: 250px; 
	height: 50px;
	top: 35%;
	left: 2%;
	/* to change the color of the rotating box*/
	background: #74AB3F;
	font-weight: 700;
	border-radius: 5px;
	outline: 1px solid transparent;
	
}

.ns-effect-boxspinner .ns-close::before,
.ns-effect-boxspinner .ns-close::after {
	background: #ACBC56;
}

.ns-effect-boxspinner .ns-close:hover::before,
.ns-effect-boxspinner .ns-close:hover::after {
	background: #fff;
}

.ns-effect-boxspinner a {
	color: #000;
}

.ns-effect-boxspinner a:hover {
	color: #fff;
}

.ns-effect-boxspinner .ns-box-inner,
.ns-effect-boxspinner .ns-close {
	opacity: 0;
}

.ns-effect-boxspinner.ns-show {
	-webkit-animation-name: animFade, animSpin, animExpand;
	animation-name: animFade, animSpin, animExpand;
	-webkit-animation-duration: 0.9s, 0.5s, 0.1s;
	animation-duration: 0.9s, 0.5s, 0.1s;
	-webkit-animation-delay: 0s, 0.2s, 2.4s;
	animation-delay: 0s, 0.2s, 2.4s;
	-webkit-animation-iteration-count: 0.5, 0.5, 0.5;
	animation-iteration-count: 1, 2, 1;
	-webkit-animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1);
	animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-animation-fill-mode: forwards, forwards, both;
	animation-fill-mode: forwards, forwards, both;
}

@-webkit-keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); width: 70px; height: 70px; }
	50% { -webkit-transform: perspective(120px) rotateY(180deg); }
	100% { -webkit-transform: perspective(120px); width: 70px; height: 70px; }
}

@keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); transform: perspective(120px) rotateY(181deg) rotateX(181deg); width: 70px; height: 70px;}
	50% { -webkit-transform: perspective(120px) rotateY(180deg); transform: perspective(120px) rotateY(181deg); }
	100% { -webkit-transform: perspective(120px); transform: perspective(120px); width: 70px; height: 70px; }
}

@-webkit-keyframes animExpand {
	0% { width: 70px; height: 70px; }
	100% { width: 250px; height: 90px; }
}

@keyframes animExpand {
	0% { width: 70px; height: 70px; }
	100% { width: 250px; height: 90px; }
}

.ns-effect-boxspinner .ns-box-inner {
	backface-visibility: hidden;
}

.ns-effect-boxspinner.ns-show .ns-box-inner,
.ns-effect-boxspinner.ns-show .ns-close,
.ns-effect-boxspinner.ns-hide {
	-webkit-animation-name: animFade;
	animation-name: animFade;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.ns-effect-boxspinner.ns-show .ns-box-inner,
.ns-effect-boxspinner.ns-show .ns-close {
	opacity: 0;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 2.75s;
	animation-delay: 2.75s;
}

.ns-effect-boxspinner.ns-hide {
	opacity: 1;
}

/* For the box of incorrect answers */

.ns-effect-loadingcircle.ns-show .ns-box2-inner, .ns-effect-loadingcircle.ns-show .ns-box3-inner,
.ns-effect-loadingcircle.ns-show .ns-close,
.ns-effect-loadingcircle.ns-hide {
	-webkit-animation-name: animFade;
	animation-name: animFade;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.ns-effect-loadingcircle.ns-show .ns-box2-inner, .ns-effect-loadingcircle.ns-show .ns-box3-inner
.ns-effect-loadingcircle.ns-show .ns-close {
	opacity: 0;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 3.3s;
	animation-delay: 3.3s;
}

.ns-effect-loadingcircle.ns-hide {
	opacity: 1;
}

@-webkit-keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Box spinner (from http://tobiasahlin.com/spinkit/) */
.ns-effect-boxspinner2{
	width: 250px; 
	height: 50px;
	top: 35%;
	right: 2%;
	/* to change the color of the rotating box*/
	background: #BB302C;
	font-weight: 700;
	border-radius: 5px;
	outline: 1px solid transparent;	
}

.ns-effect-boxspinner2 .ns-close::before,
.ns-effect-boxspinner2 .ns-close::after{
	background: #94162F;
}

.ns-effect-boxspinner2 .ns-close:hover::before
.ns-effect-boxspinner2 .ns-close:hover::after{
	background: #fff;
}

.ns-effect-boxspinner2 a{
	color: #000;
}

.ns-effect-boxspinner2 a:hover{
	color: #fff;
}

.ns-effect-boxspinner2 .ns-box-inner,
.ns-effect-boxspinner2 .ns-close{
	opacity: 0;
}

.ns-effect-boxspinner2.ns-show{
	-webkit-animation-name: animFade, animSpin, animExpand;
	animation-name: animFade, animSpin, animExpand;
	-webkit-animation-duration: 0.9s, 0.5s, 0.1s;
	animation-duration: 0.9s, 0.5s, 0.1s;
	-webkit-animation-delay: 0s, 0.2s, 2.4s;
	animation-delay: 0s, 0.2s, 2.4s;
	-webkit-animation-iteration-count: 0.5, 0.5, 0.5;
	animation-iteration-count: 1, 2, 1;
	-webkit-animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1);
	animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-animation-fill-mode: forwards, forwards, both;
	animation-fill-mode: forwards, forwards, both;
}

@-webkit-keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); width: 70px; height: 70px; }
	50% { -webkit-transform: perspective(120px) rotateY(180deg); }
	100% { -webkit-transform: perspective(120px); width: 70px; height: 70px; }
}

@keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); transform: perspective(120px) rotateY(181deg) rotateX(181deg); width: 70px; height: 70px;}
	50% { -webkit-transform: perspective(120px) rotateY(180deg); transform: perspective(120px) rotateY(181deg); }
	100% { -webkit-transform: perspective(120px); transform: perspective(120px); width: 70px; height: 70px; }
}

@-webkit-keyframes animExpand {
	0% { width: 70px; height: 70px; }
	100% { width: 250px; height: 90px; }
}

@keyframes animExpand {
	0% { width: 70px; height: 70px; }
	100% { width: 250px; height: 90px; }
}

.ns-effect-boxspinner2 .ns-box-inner {
	backface-visibility: hidden;
}

.ns-effect-boxspinner2.ns-show .ns-box-inner, 
.ns-effect-boxspinner2.ns-show .ns-close,
.ns-effect-boxspinner2.ns-hide{
	-webkit-animation-name: animFade;
	animation-name: animFade;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.ns-effect-boxspinner2.ns-show .ns-box-inner, 
.ns-effect-boxspinner2.ns-show .ns-close {
	opacity: 0;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 2.75s;
	animation-delay: 2.75s;
}

.ns-effect-boxspinner2.ns-hide{
	opacity: 1;
}

/* Box 3 */

/* For the box of incorrect answers */

.ns-effect-loadingcircle.ns-show .ns-box-inner,
.ns-effect-loadingcircle.ns-show .ns-close,
.ns-effect-loadingcircle.ns-hide {
	-webkit-animation-name: animFade;
	animation-name: animFade;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.ns-effect-loadingcircle.ns-show .ns-box-inner
.ns-effect-loadingcircle.ns-show .ns-close {
	opacity: 0;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 3.3s;
	animation-delay: 3.3s;
}

.ns-effect-loadingcircle.ns-hide {
	opacity: 1;
}

@-webkit-keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Box spinner (from http://tobiasahlin.com/spinkit/) */
.ns-effect-boxspinner3 {
	width: 250px; 
	height: 50px;
	top: 40%;
	right: 2%;
	/* to change the color of the rotating box*/
	background: #BB302C;
	font-weight: 700;
	border-radius: 5px;
	outline: 1px solid transparent;
}

.ns-effect-boxspinner3 .ns-close::before,
.ns-effect-boxspinner3 .ns-close::after  {
	background: #94162F;
}

.ns-effect-boxspinner3 .ns-close:hover::before
.ns-effect-boxspinner3 .ns-close:hover::after {
	background: #fff;
}

.ns-effect-boxspinner3 a {
	color: #27546c;
}

.ns-effect-boxspinner3 a:hover {
	color: #fff;
}

.ns-effect-boxspinner3 .ns-box3-inner
.ns-effect-boxspinner3 .ns-close {
	opacity: 0;
}

.ns-effect-boxspinner3.ns-show {
	-webkit-animation-name: animFade, animSpin, animExpand;
	animation-name: animFade, animSpin, animExpand;
	-webkit-animation-duration: 0.9s, 0.5s, 0.1s;
	animation-duration: 0.9s, 0.5s, 0.1s;
	-webkit-animation-delay: 0s, 0.2s, 2.4s;
	animation-delay: 0s, 0.2s, 2.4s;
	-webkit-animation-iteration-count: 0.5, 0.5, 0.5;
	animation-iteration-count: 1, 2, 1;
	-webkit-animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1);
	animation-timing-function: ease-in-out, ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-animation-fill-mode: forwards, forwards, both;
	animation-fill-mode: forwards, forwards, both;
}

@-webkit-keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); width: 70px; height: 70px; }
	50% { -webkit-transform: perspective(120px) rotateY(180deg); }
	100% { -webkit-transform: perspective(120px); width: 70px; height: 70px; }
}

@keyframes animSpin {
	0% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); transform: perspective(120px) rotateY(181deg) rotateX(181deg); width: 70px; height: 70px;}
	50% { -webkit-transform: perspective(120px) rotateY(180deg); transform: perspective(120px) rotateY(181deg); }
	100% { -webkit-transform: perspective(120px); transform: perspective(120px); width: 70px; height: 70px; }
}

@-webkit-keyframes animExpand {
	0% { width: 70px; height: 70px; }
	100% { width: 250px; height: 90px; }
}

@keyframes animExpand {
	0% { width: 70px; height: 70px; }
	100% { width: 250px; height: 90px; }
}

.ns-effect-boxspinner3 .ns-box3-inner {
	backface-visibility: hidden;
}

.ns-effect-boxspinner3.ns-show .ns-box-inner,
.ns-effect-boxspinner3.ns-show .ns-close,
.ns-effect-boxspinner3.ns-hide {
	-webkit-animation-name: animFade;
	animation-name: animFade;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.ns-effect-boxspinner3.ns-show .ns-box-inner,
.ns-effect-boxspinner3.ns-show .ns-close {
	opacity: 0;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 1.75s;
	animation-delay: 1.75s;
}

.ns-effect-boxspinner3.ns-hide {
	opacity: 1;
}

/* Buttons for Interactive Scenario (selection)*/

.interact_select{
	width: 95%;
	height: 180px;
	line-height: 1.2;
	font-size: 0.8em;
	font-family: 'Ubuntu'; 

}

img.int_media {
    height: 20rem;
    width: auto;
}
