<!--Mayi is working in this one-->

{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
<link rel="stylesheet" href="../static/css/editmodules.css" />
{% endblock %}

{% block content %}
<div class="main__page">
    <div class="row" data-equalizer>
	<div class="large-4 small-4 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel teal colourblock__top">
		<div class="row">
		    <div class="large-6 columns" class="teal">
			<h4>Add a New Course</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__teal"><i class="fi-page-add"></i></div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content' data-equalizer-watch>
		    <p> In this section you will be able to generate a new module, edit it or modify each module's visibility</p>
		</div>				
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel teal colourblock__bottom thin text-center"><a href="/edit"><i class="fi-arrow-left"></i>  Back</a></div></div></div>
<!-- 	    <a href="/edit" class="button">Back</a> -->
	</div>

	<div class="large-8 small-8 columns">
	    <div class="row"><div class="large-14 columns"><div class="panel teal colourblock__top">
	    </div></div></div>
	    <div class="row"><div class="large-14 columns"><div class="panel panel__middle">
	    <div class="container">

<div class="row">
<div class="small-10 medium-12 columns">

	<div class="large-14 large-centered columns">
	<dl class="tabs g-1" data-tab data-options="scroll_to_content:false" data-options="deep_linking:true" >
	    <dd class="active"><a href="#panel2-1">1) Create a New Module</a></dd>
	    <dd><a href="#panel2-2">2) Create Slides</a></dd>
	    <dd><a href="#panel2-3">3) Create an Interactive Scenario</a></dd>
	    <dd><a href="#panel2-4">4) Create Quiz</a></dd>
	    <dd><a href="#panel2-5">5) Preview Full Module</a></dd>     
	</dl></div>

	  <div class="tabs-content">
	    <div class="content active" id="panel2-1">  
	      <h3 class="text-center">Create a New Module</h3>
	      <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-center">
			<form>        	       	
	            <label>Post Title from the module here:
	            <input type="text" placeholder="Write new content here" />
	            </label>
	        	<input type="button" value="Submit" class="button radius small"/>
	        </form>	
		    </div></div></div>
	    </div>

	    <div class="content" id="panel2-2">      
	      <form class="row">
	      <div class="large-11 column large-centered">
	      <h3 class="text-center">Create Slides</h3>
	      <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-left">
				<form>        	       	
				<h4>Slide [ID] of 8</h4>
	            <label>Post Title from Slide Here
	              <input type="text" placeholder="Write new content here" />
	            </label>
			    <label>Post Content from Slide Here
			      <textarea placeholder="Write new content here"></textarea>
			    </label>
	            <label>Post Image from Slide Here
	              <input type="text" placeholder="Add an embedded link for an image (optional)" />
	            </label>
		        <p> Your word count is: [450 char count] should be less than 500</p>
		        <div class="row"><div class="large-12 columns text-center">
	            <input type="button" value="Submit" class="button radius small"/>
	            </div></div>           
			</form>
		    </div></div></div>
		</div></div>

	    <div class="content" id="panel2-3">      
	      <form class="row">
	      <div class="large-11 column large-centered">
	      <h3 class="text-center">Create Interactive Scenario</h3>
	      <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-left">
			<form>        	       	
	    		<h4>Interactive Scenario [ID] of 3</h4>
	            <label>Post Title from Interactive Scenario Here
	              <input type="text" placeholder="Write new content here" />
	            </label>
	            <label>Post Image for Interactive Scenario
	              <input type="text" placeholder="Add an embedded link for an image (optional)" />
	            </label>
			    <label>Post Description of the Scenario Here:
			      <textarea placeholder="Write new content here"></textarea>
			    </label>
	            <label>Description of Option 1
	              <input type="text" placeholder="Write new content here" />
	            </label>
	            <label>Description of Option 2
	              <input type="text" placeholder="Write new content here"/>
	            </label>
	            <label>Description of Option 3
	              <input type="text" placeholder="Write new content here" />
	            </label>
			    <div class="large-12 columns">
			      <label>Which is the correct Answer?</label>
			      <input id="checkbox1" type="checkbox"><label for="checkbox1">Option 1</label>
			      <input id="checkbox2" type="checkbox"><label for="checkbox2">Option 2</label>
			      <input id="checkbox3" type="checkbox"><label for="checkbox3">Option 3</label>
			    </div>
				<p> Your word count is: [450 char count] should be less than 500</p>
		        <div class="row"><div class="large-12 columns text-center">
		            <input type="button" value="Submit" class="button radius small"/>
	            </div></div>    
			</form>
		    </div></div></div>
		</div></div>

	    <div class="content" id="panel2-4">      
	      <form class="row">
	      <div class="large-11 column large-centered">
	      <h3 class="text-center">Create Quiz</h3>
	      <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-left">
		  <form>        	       	
	    		<h4>Quiz [ID]</h4>
			    <label>Post Question 1
			      <textarea placeholder="Write new content here"></textarea>
			    </label>
	            <label>Description of Option 1
	              <input type="text" placeholder="Write new content here" />
	            </label>
	            <label>Description of Option 2
	              <input type="text" placeholder="Write new content here"/>
	            </label>
	            <label>Description of Option 3
	              <input type="text" placeholder="Write new content here" />
	            </label>
			    <div class="large-12 columns">
			      <label>Which is the correct Answer?</label>
			      <input id="checkbox1" type="checkbox"><label for="checkbox1">Option 1</label>
			      <input id="checkbox2" type="checkbox"><label for="checkbox2">Option 2</label>
			      <input id="checkbox3" type="checkbox"><label for="checkbox3">Option 3</label>
			    </div>
				<p> Your word count is: [450 char count] should be less than 500</p>
		        <div class="row"><div class="large-12 columns text-center">
		        <input type="button" value="Submit" class="button radius small"/>
	            </div></div>			    
		   </form>
		   </div></div></div>
		</div></div>

	    <div class="content" id="panel2-5">      
	      <form class="row">
	        <div class="large-11 column large-centered">
	      <h3 class="text-center">Preview</h3>
	      <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-left">

		    <p> Preview your Module in Reveal? </p>
	 		</div></div></div>
	        <input type="button" value="Submit" class="button radius small"/>
		    </div>
	    </div>
	</div></div>

    </div>
</div>

<script src="../static/js/admin_dashboard.js"></script>
{% endblock %}
