{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
{% endblock %}

{% block content %}
<div class="main__page">
    <div class="row" data-equalizer>
	<div class="large-4 small-10 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel teal colourblock__top">
		<div class="row">
		    <div class="large-8 columns" class="teal">
			<h4>View/ Edit Courses</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__teal"><i class="fi-page-add"></i></div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content' data-equalizer-watch>
		    <p> In this section you will be able to generate a new module, edit it or modify each module's visibility</p>
		</div>				
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel teal colourblock__bottom thin text-center">
		Edit Last Changed Module
	    </div></div></div>
	</div>

	<div class="large-4 small-10 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__top">
		<div class="row">
		    <div class="large-8 columns">
			<h4>Manage Administrators</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__blue"><i class="fi-page-edit"></i></div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content' data-equalizer-watch>
		    <p> Generate new administrator's credentials for your team.
		    You can select the 
		    <span data-tooltip aria-haspopup="true" class="has-tip" title="<b>Write Access</b> allows the administrator to edit modules.<br><b>Read Access</b> allows the administrator to monitor the system and download data.">level of permissions</span>
		    you want to give to each user.</p>
		</div>	
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__bottom thin text-center">
		Quick Add Administrator
	    </div></div></div>
	</div>	

	<div class="large-4 small-10 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__top">
		<div class="row">
		    <div class="large-8 columns">
			<h4>Filter By Raw Data</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__purple">
			    <i class="fi-unlock"></i>
			</div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content' data-equalizer-watch>
			<p>Do you need to analyse the raw data we have collected? No problem. We offer you the option of downloading the raw data into a .csv file</p>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__bottom thin text-center">
		Quick Filter
	    </div></div></div>
	</div>
    </div>
    <div class="row quick__filter toggle__visibility">
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__top thin text-center">
		Quick Filter
	    </div></div></div>
	</div>
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-center">
		Quick Filter
	    </div></div></div>
	</div>
    </div>
    <div class="row quick__add toggle__visibility">
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__top thin text-center">
		Quick Add Administrator
	    </div></div></div>
	</div>
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-center">
		Quick Add Administrator
	    </div></div></div>
	</div>
    </div>
</div>
<script src="../static/js/admin_dashboard.js"></script>
{% endblock %}
