{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="small-10 small-offset-1 columns">
	<!-- FOR LOOP TO GENERATE CLASS INFO BLOCKS -->
	{% for module in modules %}
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel">
			<div class="row">
			    <div class="large-10 columns text-left">
				<h3>{{ module['NAME'] }}</h3>
			    </div>
			    <div class="large-2 columns text-right">
				<a href="/module/{{module['NAME']}}" class="button tiny round green">Edit Module</a>
			    </div>
			</div>
			<div class="row">
			    <div class="large-10 large-offset-1 columns text-justify">
				<p>{{ module['BLURB'] }}</p>
			    </div>
			</div>
		    </div>
		    <div class="text-right lastmod">
			<p>last modified: date by name</p>
		    </div>
		</div>
	    </div>
	{% endfor %}
    </div>
</div>
{% endblock %}
