{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
{% endblock %}

{% block content %}
<div class="main__page">
    <div class="row" data-equalizer>
<!-- 	<div class="large-4 small-10 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel teal colourblock__top">
		<div class="row">
		    <div class="large-8 columns" class="teal">
			<h4>View/ Edit Courses</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__teal"><i class="fi-page-add"></i></div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content' data-equalizer-watch>
		    <p> In this section you will be able to generate a new module, edit it or modify each module's visibility</p>
		</div>				
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel teal colourblock__bottom thin text-center">
		Edit Last Changed Module
	    </div></div></div>
	</div> -->

	<div class="large-4 small-10 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__top">
		<div class="row">
		    <div class="large-8 columns">
			<h4>Manage Administrators</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__blue"><i class="fi-page-edit"></i></div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content' data-equalizer-watch>
		    <p> Generate new administrator's credentials for your team.
		    You can select the 
		    <span data-tooltip aria-haspopup="true" class="has-tip" title="<b>Write Access</b> allows the administrator to edit modules.<br><b>Read Access</b> allows the administrator to monitor the system and download data.">level of permissions</span>
		    you want to give to each user.</p>
		</div>	
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__bottom thin text-center admin__trigger">
		Quick Add Administrator
	    </div></div></div>
	</div>	

<!-- 	<div class="large-4 small-10 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__top">
		<div class="row">
		    <div class="large-8 columns">
			<h4>Filter By Raw Data</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__purple">
			    <i class="fi-unlock"></i>
			</div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content' data-equalizer-watch>
			<p>Do you need to analyse the raw data we have collected? No problem. We offer you the option of downloading the raw data into a .csv file</p>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__bottom thin text-center filter__trigger">
		Quick Filter
	    </div></div></div>
	</div> -->
<!--     </div> -->

	<div class="large-8 small-8 columns">
	    <div class="row"><div class="large-14 columns"><div class="panel teal colourblock__top">
	    </div></div></div>
	    <div class="row"><div class="large-14 columns"><div class="panel panel__middle">
	    <div class="container">

	<div class="row">
	<div class="small-10 medium-12 columns">

		<div class="large-12 large-centered columns">
		      <h3 class="text-center">Select Visibility of Course</h3>
		      <div class="row"><div class="large-12 columns text-center"><div class="panel panel__middle text-center">
				<form class='custom'>
				<div> 
				<h4> Choose the Courses you want to keep visible</h4>      	       	
				<label>Users will only be able to interact with courses that are marked as visible</label>
				
				<div class="row">
				  <div class="small-12 columns small-centered">
				    <fieldset class="controls">
				      <div class="row">
				        <!-- filter buttons -->
				        <div class="small-8 columns" id="controlsfilter">
				          <label>Filter:</label>
				          <button class="filter tiny round active" data-filter="all">All</button>
				          <button class="filter tiny round" data-filter=".write">Write</button>
				          <button class="filter tiny round" data-filter=".read">Read</button>
				          <button class="filter tiny round" data-filter=".both">Both</button>
				          <button class="filter tiny round" data-filter=".new">New</button>
				          <button class="filter tiny round" data-filter=".inactive">Inactive</button>
				        </div>
				        <!-- layout buttons -->
<!-- 				        <div class="small-4 columns" id="controlslayout">
				          <label>Layout:</label>
				          <div class="controlslayout">
				          <input type="radio" class="grid" checked="checked" name="layout" id="grid"><label id="labelgrid" for="grid"><i class="fa fa-th"></i></label></input><input type="radio" class="list" name="layout" id="list"><label id="labellist" for="list"><i class="fa fa-bars"></i></label></input></div>
				        </div> -->
				      </div>
				    </fieldset>
				  </div>
				</div>
				<div class="row">
				  <!-- container for images -->
				  <div class="small-12 columns small-centered">
				    <div class="container" id="Container">
				      <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
				        <li class="mix write"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix read"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix both"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix new"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix inactive"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix write"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix read"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix both"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix new"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="mix new"><img border="0" src="http://placehold.it/1000x800"/></li>
				        <li class="gap"/>
				        <li class="gap"/>
				      </ul>
				    </div>
				  </div>
				</div>
				
				</div>   
				</form>
			    </div></div></div>
		</div>

<!-- 		<div class="large-12 large-centered columns">
			<div class="row"><div class="large-12 columns text-center"><div class="panel panel__middle text-center">
			   	<div class="switch round">
					<p>Make Courses Visible</p>
					<input id="switchName" type="checkbox">
					<label for="switchName">
						<span class="switch-on">ON</span>
						<span class="switch-off">OFF</span>
					</label>
				</div>
				<input type="button" value="Submit" class="button radius small"/>
			</div></div></div>
		</div> -->

	</div>
	</div>

		</div>
		</div></div></div>
</div>

<!--     <div class="row">
	<div class="large-8 large-offset-2 columns end">
	    <div class="row" id="admin_err"> -->
	    <!-- display error messages -->
<!-- 	    {% with errors = get_flashed_messages(category_filter=["admin","search"]) %}
		{% if errors %}
		<div data-alert class="alert-box warning radius text-center">
		    {% for message in errors %}
		    <b>{{ message }}</b><br>
		    {% endfor %}
		    <a href="#" class="close">&times;</a>
		</div>
		{% endif %}
	    {% endwith %} -->
	    <!-- display success message-->
<!-- 	    {% with messages = get_flashed_messages(category_filter=["admin_ok"]) %}
		{% if messages %}
		<div data-alert class="alert-box success green radius text-center">
		    {% for message in messages %}
		    <b>{{ message }}</b>
		    {% endfor %}
		    <a href="#" class="close">&times;</a>
		</div>
		{% endif %}
	    {% endwith %}
	    </div>
	</div>
    </div> -->

<!--     <div class="row quick__filter hidden">
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__top thin text-center">
		Quick Filter
	    </div></div></div>
	</div>
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-center">
		<form id="search" class="text-left">
		    <div class="row" data-equalizer="form">
		    <div class="large-3 small-12 columns" data-equalizer-watch="form">
			<label>Module
			<select id= "module">
			<option value="None">Show all modules</option>
			{% for module in modules %}
			<option value="{{ module['MODULE_ID'] }}">{{ module['NAME'] }}</option>
			{% endfor %}
			</select>
			</label>
		    </div>
		    <div class="large-3 small-12 columns" data-equalizer-watch="form">
			<label>Org Unit
			<select id= "orgunit">
			<option value="None">Show all org units</option>
			{% for org_unit in org_units %}
			<option value="{{ org_unit['UNIT_ID'] }}">{{ org_unit['UNIT_NAME'] }}</option>
			{% endfor %}
			</select>
			</label>
		    </div>
		    <div class="large-3 small-12 columns" data-equalizer-watch="form">
			<label>User
			<input type="text" id="userid" placeholder="Enter UQ ID" />
			</label>
		    </div>
		    <div class="large-2 columns end text-center" data-equalizer-watch="form">
			<label><br></label>
			<input type="submit" class="tiny round teal button" value="Submit" />
		    </div>
		    </div>
		</form>
	    </div></div></div>
	</div>
    </div> -->
    <div class="row quick__add hidden">
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__top thin text-center">
		Quick Add Administrator
	    </div></div></div>
	</div>
	<div class="large-10 large-offset-1 end columns">
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-center">
		<form id="admins">
		    <div class="row">
			<div class="large-6 large-offset-3 end columns">
			    <input id="admin_id" type="text" placeholder="Enter UQ ID" />
			    </label>
			</div>
			<div class="large-4 large-offset-3 columns text-left">
			    <input id="write_access" type="checkbox">
			    <label for="write_access">Write access to modules</label>
			    <br>
			    <input id="read_access" type="checkbox">
			    <label for="read_access">Read access to data</label>
			</div>
			<div class="large-2 columns end">
			    <br>
			    <input type="submit" class="tiny round teal button" value="Submit" />
			</div>
		    </div>
		</form>
	    </div></div></div>
	</div>
    </div>
</div>
<script src="../static/js/admin_dashboard.js"></script>
<script src="../static/js/admin_filter.js"></script>
{% endblock %}
