{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
<link rel="stylesheet" href="../static/css/quill.snow.css" />
<link rel="stylesheet" href="../static/css/upload.css" />
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block content %}
<div class="main__page" data-equalizer>
    <div class="row">
	you do stuff here
    </div>
</div>
{% endblock %}
{% block jscripts %}
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}
