{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
<link rel="stylesheet" href="../static/css/quill.snow.css" />
<link rel="stylesheet" href="../static/css/upload.css" />
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block content %}
<div class="main__page" data-equalizer>
    <div class="row text-center">
	<ul class="breadcrumbs">
	    <li><a class="current" id="edit__lecture" href="#lecture">Lecture</a></li>
	    <li><a id="edit__interactive" href="#interactive">Interactive</a></li>
	    <li><a id="edit__quiz" href="#quiz">Quiz</a></li>
	</ul>
    </div>
    <div class="row text-left" id="lecture">
	<div class="colourblock__top panel panel__middle thin teal">
	    Lecture Section
	</div>
	<div class="panel panel__middle lecture__content">
	    <ul class="accordion edit__module__content" data-accordion>
		{% for slide in slides %}
		    <li class="accordion-navigation">
			<a href="#slide_{{ slide[0] }}"><span><i class="fi-plus"></i></span>{{ slide[1]['TITLE'] }}</a>
			<div class="quill-wrapper content" id="slide_{{ slide[0] }}">
			    <div id="slide-{{ slide[0] }}-title" class="text-center slide-title">{{ slide[1]['TITLE'] }}</div>
			    <div id="full-toolbar-{{ slide[0] }}" class="toolbar">
				<span class="ql-format-group">
				    <span title="Bold" class="ql-format-button ql-bold"></span>
				    <span class="ql-format-separator"></span>
				    <span title="Italic" class="ql-format-button ql-italic"></span>
				    <span class="ql-format-separator"></span>
				    <span title="Underline" class="ql-format-button ql-underline"></span>
				    <span class="ql-format-separator"></span>
				    <span title="Strikethrough" class="ql-format-button ql-strike"></span>
				</span>
				<span class="ql-format-group">
				    <span title="List" class="ql-format-button ql-list"></span>
				    <span class="ql-format-separator"></span>
				    <span title="Bullet" class="ql-format-button ql-bullet"></span>
				    <span class="ql-format-separator"></span>
				    <select title="Text Alignment" class="ql-align">
					<option value="left" label="Left" selected=""></option>
					<option value="center" label="Center"></option>
					<option value="right" label="Right"></option>
					<option value="justify" label="Justify"></option>
				    </select>
				</span>
				<span class="ql-format-group">
				    <span title="Link" class="ql-format-button ql-link"></span>
				</span>
			    </div>
			    <div id="full-editor-{{ slide[0] }}" class="editor">
				{{ slide[1]['CONTENT']|safe }}
			    </div>
			    <div class="row lecture-edit-buttons">
				<div class="large-3 large-offset-3 columns">
				    <button class="wide button radius teal lecture-delete-slide" id="delete-{{ slide[0] }}">Delete Slide</button>
				</div>
				<div class="large-3 columns end">
				    <button class="wide button radius teal lecture-save-slide" id="save-{{ slide[0] }}">Save Slide</button>
				</div>
			    </div>
			</div>
		    </li>
		{% endfor %}
		<li class="accordion-navigation">
		    <a href="#slide_new"><span><i class="fi-plus"></i></span>Add a new slide</a>
		    <div class="quill-wrapper content active" id="slide_new">
			<div id="full-toolbar-new" class="toolbar">
			    <span class="ql-format-group">
				<span title="Bold" class="ql-format-button ql-bold"></span>
				<span class="ql-format-separator"></span>
				<span title="Italic" class="ql-format-button ql-italic"></span>
				<span class="ql-format-separator"></span>
				<span title="Underline" class="ql-format-button ql-underline"></span>
				<span class="ql-format-separator"></span>
				<span title="Strikethrough" class="ql-format-button ql-strike"></span>
			    </span>
			    <span class="ql-format-group">
				<span title="List" class="ql-format-button ql-list"></span>
				<span class="ql-format-separator"></span>
				<span title="Bullet" class="ql-format-button ql-bullet"></span>
				<span class="ql-format-separator"></span>
				<select title="Text Alignment" class="ql-align">
				    <option value="left" label="Left" selected=""></option>
				    <option value="center" label="Center"></option>
				    <option value="right" label="Right"></option>
				    <option value="justify" label="Justify"></option>
				</select>
			    </span>
			    <span class="ql-format-group">
				<span title="Link" class="ql-format-button ql-link"></span>
			    </span>
			</div>
			<div id="full-editor-new" class="editor">
			</div>
			<div class="row lecture-edit-buttons">
			    <div class="large-4 large-offset-4 columns">
				<button class="wide button radius teal" id="lecture-add-new">Add Slide</button>
			    </div>
			</div>
		    </div>
		</li>
	    </ul>
	</div>
    </div>
    <div class="row text-left hidden" id="interactive">
	<div class="colourblock__top panel panel__middle thin blue">
	    Interactive Section
	</div>
	<div class="panel panel__middle">
	    <ul class="accordion edit__module__content" data-accordion>
		{% for int_q in int_questions %}
		    <li class="accordion-navigation">
			<a href="#int_q_{{ int_q['INT_Q_ID'] }}">
			    <span><i class="fi-plus"></i></span>{{ " ".join(int_q['QUESTION'].split(" ")[:10]) }}...</a>
			<div id="int_q_{{ int_q['INT_Q_ID'] }}" class="content">
			    <div class="row">
				<div class="large-6 columns">
				    <div class="image-preview" style="background: url('{{ int_q['MEDIA_LINK'] }}') 50% 50% no-repeat;">
				    <label for="int_q_new_img_upload" class="image-label">Choose File</label>
				    <input type="file" name="int_q_new_media" class="image-upload" id="int_q_new_img_upload" required/>
				</div>
				</div>
				<div class="large-6 columns">
				    <br>
				    <div class="edit_area int_q" id="int_q{{ int_q['INT_Q_ID'] }}">{{ int_q['QUESTION'] }}</div>
				    {% for int_a in int_answers %}
					{% if int_a['INT_Q_ID'] == int_q['INT_Q_ID'] %}
					<div class="edit int_a" id="int_a{{ int_a['INT_ANS_ID'] }}_q{{ int_q['INT_Q_ID'] }}">{{ int_a['ANSWER'] }}</div>
					{% endif %}
				    {% endfor %}
				</div>
				<div class="large-12 columns">
				    <br>
				    <div class="edit_area int_q" id="int_correct_q{{ int_q['INT_Q_ID'] }}">{{ int_q['CORRECT_MESSAGE'] }}</div>
				    <div class="edit_area int_q" id="int_incorrect_q{{ int_q['INT_Q_ID'] }}">{{ int_q['INCORRECT_MESSAGE'] }}</div>
				</div>
			    </div>
			</div>
		    </li>
		{% endfor %}
		<li class="accordion-navigation">
		    <a href="#int_q_new"><span><i class="fi-pencil"></i></span>New Interactive Question</a>
		    <div id="int_q_new" class="content active">
			<form id="create_new_int_q" method="post" enctype="multipart/form-data">
			<input type="hidden" name="module_id" value="{{ module_id }}">
			<div class="row">
			    <div class="large-6 columns">
				<div class="image-preview">
				    <label for="int_q_new_img_upload" class="image-label">Choose File</label>
				    <input type="file" name="int_q_new_media" class="image-upload" id="int_q_new_img_upload" required/>
				</div>
			    </div>
			    <div class="large-6 columns">
				<br>
				<textarea name="int_q_new_desc" placeholder="Type out a description of the scenario here!" required/></textarea>
				{% for i in range(1, 4) %}
				    <div class="row">
					<div class="large-1 column text-right">
					    <input type="radio" name="int_q_new_correct" class="radio_line_up" value="{{ i }}" required>
					</div>
					<div class="large-11 columns end">
					    <input type="text" name="int_q_new_a_{{ i }}" placeholder="Option {{ i }}" class="input_line_up" required/>
					</div>
				    </div>
				{% endfor %}
			    </div>
			    <div class="large-12 columns">
				<br>
				<textarea name="int_q_new_correct_msg" placeholder="Message to display when user answers correctly" required/></textarea>
				<textarea name="int_q_new_incorrect_msg" placeholder="Message to display when user answers incorrectly" required/></textarea>
			    </div>
			    <div class="large-12 columns text-center">
				<input type="submit" name="int_q_new_submit" class="button tiny radius purple button_line_up"/>
			    </div>
			</div>
		    </div>
		    </form>
		</li>
	    </ul>
	</div>
    </div>
    <div class="row text-left hidden" id="quiz">
	<div class="colourblock__top panel panel__middle thin purple">
	    Quiz Section
	</div>
	<div class="panel panel__middle">
	    <ul class="accordion edit__module__content" data-accordion>
		{% for question in questions %}
		    <li class="accordion-navigation">
			<a href="#question_{{ question['QUESTION_ID'] }}">
			    <span><i class="fi-plus"></i></span>{{ question['QUESTION'] }}</a>
			<div id="question_{{ question['QUESTION_ID'] }}" class="content">
			    <div class="edit question" id="quiz_q{{ question['QUESTION_ID'] }}">{{ question['QUESTION'] }}</div>
			    {% for answer in answers %}
				{% if answer['QUESTION_ID'] == question['QUESTION_ID'] %}
				    <div class="edit" id="quiz_a{{ answer['ANSWER_ID'] }}_q{{ question['QUESTION_ID'] }}_">{{ answer['ANSWER'] }}</div>
				{% endif %}
			    {% endfor %}
			</div>
		    </li>
		{% endfor %}
		<li class="accordion-navigation">
		    <a href="#question_new"><span><i class="fi-pencil"></i></span>New Question</a>
		    <div id="question_new" class="content active">
			<form id="create_new_question" method="post">
			    <input type="hidden" name="module_id" value="{{ module_id }}">
			    <input type="text" name="q_new" placeholder="Type your question here!" required/>
			    {% for i in range(1, 5) %}
				<div class="row">
				    <div class="large-1 column text-right">
					<input type="radio" name="q_new_correct" class="radio_line_up" value="{{ i }}" required>
				    </div>
				    {% if i == 4 %}
					<div class="large-8 columns">
					    <input type="text" name="q_new_a_{{ i }}" placeholder="Option {{ i }}" class="input_line_up" required/>
					</div>
					<div class="large-3 columns text-right">
					    <input type="submit" name="q_new_submit" class="button tiny radius purple button_line_up" required/>
					</div>
				    {% else %}
					<div class="large-8 columns end">
					    <input type="text" name="q_new_a_{{ i }}" placeholder="Option {{ i }}" class="input_line_up" required/>
					</div>
				    {% endif %}
				</div>
			    {% endfor %}
			</form>
		    </div>
		</li>
	    </ul>
	</div>
    </div>
</div>
{% endblock %}
{% block jscripts %}
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="../static/js/quill.js"></script>
<script src="../static/js/jquery.jeditable.js"></script>
<script src="../static/js/jquery.uploadPreview.js"></script>
<script src="../static/js/admin_edit_content.js"></script>
{% endblock %}
