{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
{% endblock %}

{% block content %}
<div class="main__page">
    <div class="row">
	<div class="large-12 columns">
	    <div class="large-3 columns panel blue colourblock__top thin">
		Last Modified: 
	    </div>
	    <div class="large-9 columns panel blue colourblock__top thin">
		stuff here
	    </div>
	</div>
    </div>
    <div class="row">
	<div class="large-12 columns">
	    <div class="large-3 columns panel purple colourblock__bottom thin">
		Last Modified: 
	    </div>
	    <div class="large-9 columns panel purple colourblock__bottom thin">
		stuff here
	    </div>
	</div>
    </div>

    <div class="row">
	<div class="large-4 small-12 columns">
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel teal colourblock__top">
			<div class="row">
			    <div class="large-8 columns">
				<h4>Add a Course</h4>
			    </div>
			    <div class="large-4 columns">
				<div class="circle text-center text__teal">
				    <i class="fi-page-add"></i>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel panel__middle">
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel teal colourblock__bottom">
		    </div>
		</div>
	    </div>
	</div>

	<div class="large-4 small-12 columns">
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel blue colourblock__top">
			<div class="row">
			    <div class="large-8 columns">
				<h4>Edit a Course</h4>
			    </div>
			    <div class="large-4 columns">
				<div class="circle text-center text__blue">
				    <i class="fi-page-edit"></i>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel panel__middle">
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel blue colourblock__bottom">
		    </div>
		</div>
	    </div>
	</div>

	<div class="large-4 small-12 columns">
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel purple colourblock__top">
			<div class="row">
			    <div class="large-8 columns">
				<h4>Change Course Settings</h4>
			    </div>
			    <div class="large-4 columns">
				<div class="circle text-center text__purple">
				    <i class="fi-unlock"></i>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel panel__middle">
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel purple colourblock__bottom">
		    </div>
		</div>
	    </div>
	</div>
    </div>

</div>
{% endblock %}
