{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block content %}
<div class="main__page" data-equalizer>	

    <div class="row">
    <div class="large-8 large-offset-2 columns end">
        <div class="row" id="admin_err">
        <!-- display error messages -->
        {% with errors = get_flashed_messages(category_filter=["admin","search"]) %}
	{% if errors %}
	<div data-alert class="alert-box warning radius text-center">
	    {% for message in errors %}
	    <b>{{ message }}</b><br>
	    {% endfor %}
	    <a href="#" class="close">&times;</a>
	</div>
	{% endif %}
        {% endwith %}
        <!-- display success message-->
        {% with messages = get_flashed_messages(category_filter=["admin_ok"]) %}
	{% if messages %}
	<div data-alert class="alert-box success green radius text-center">
	    {% for message in messages %}
	    <b>{{ message }}</b>
	    {% endfor %}
	    <a href="#" class="close">&times;</a>
	</div>
	{% endif %}
        {% endwith %}
        </div>
    </div>
    </div>

    <div class="large-10 large-offset-1 end columns">
        <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__top thin text-center">
            Quick Add Administrator
        </div></div></div>
    </div>
    <div class="large-10 large-offset-1 end columns">
        <div class="row"><div class="large-12 columns"><div class="panel panel__middle text-center">
            <form id="admins">
                <div class="row">
                    <div class="large-6 large-offset-3 end columns">
                        <input id="admin_id" type="text" placeholder="Enter UQ ID" />
                        </label>
                    </div>
                    <div class="large-4 large-offset-3 columns text-left">
                        <input id="write_access" type="checkbox">
                        <label for="write_access">Write access to modules</label>
                        <br>
                        <input id="read_access" type="checkbox">
                        <label for="read_access">Read access to data</label>
                    </div>
                    <div class="large-2 columns end">
                        <br>
                        <input type="submit" class="tiny radius blue button" value="Submit" />
                    </div>
                </div>
            </form>
        </div></div></div>
    </div>


    
    <div class="row text-center">
        <div class="large-12 columns">
	    <div class="large-2 large-offset columns panel blue colourblock__top thin text-left">
		Name 
            </div>
	    <div class="large-2 columns panel blue colourblock__top thin">
		Read Access
	    </div>
	    <div class="large-2 end columns panel blue colourblock__top thin">
		Write Access
	    </div>
	    <div class="large-4 end columns panel blue colourblock__top thin">
		Organizational Unit
	    </div>
	    <div class="large-2 end columns panel blue colourblock__top thin">
		Delete Admin
	    </div>
	</div>

	{% for admin in admin_info %}
	<div class="large-12 columns" data-equalizer>

	    <div class="large-2 columns panel listing text-left" data-equalizer-watch>
		 <span data-tooltip aria-haspopup="true" class="has-tip" title="{{ admin['user_id'] }}">{{ admin['name'] }}</span>
	    </div>

	    <div class="large-2 end columns panel listing" data-equalizer-watch>
		{% if admin['user_id'] in read_perms %}
		    <input type="checkbox" class="mod-read" value="{{ admin['user_id'] }}" checked>
		{% else %}
		    <input type="checkbox" class="mod-read" value="{{ admin['user_id'] }}">
		{% endif %}
	    </div>

	    <div class="large-2 end columns panel listing" data-equalizer-watch>
		{% if admin['user_id'] in write_perms %}
		    <input type="checkbox" class="mod-write" value="{{ admin['user_id'] }}" checked>
		{% else %}
		    <input type="checkbox" class="mod-write" value="{{ admin['user_id'] }}">
		{% endif %}
	    </div>

	    <div class="large-4 end columns panel listing" data-equalizer-watch>
		{% for unit in org_units %}
		    {% if unit['UNIT_ID'] == admin['unit_ID'] %}
			{{ unit['UNIT_NAME'] }}
		    {% endif %}
		{% endfor %}
	    </div>

	    <div class="large-2 end columns panel listing" data-equalizer-watch>
		<form class="open__profile__modal" id="">
		    <button class="teeny radius purple button delete-admin" value="{{ admin['user_id'] }}">Delete</a>
		</form>
	    </div>

	</div>
	{% endfor %}
    </div>
</div>
{% endblock %}
{% block jscripts %}
<script src="../static/js/admin_manage.js"></script>
{% endblock %}
