{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="small-10 small-offset-1 columns">
	<ul class="accordion" data-accordion>
	    <li class="accordion-navigation text-center">
	    <a href="#incomplete">Modules In Progress</a>
		<div id="incomplete" class="content active">
		    <!-- FOR LOOP TO GENERATE CLASS INFO BLOCKS -->
		    {% for course in courses %}
			<div class="row">
			    <div class="large-12 columns">
				<div class="panel">
				    <div class="row">
					<div class="large-10 columns text-left">
					    <h3>{{ course['NAME'] }}</h3>
					</div>
					<div class="large-2 columns text-right">
					    {% if course['CID'] >= 3 %}
					    <a href="/course/{{course['NAME']}}" class="button tiny round green">View Grades</a>
					    {% else %}
					    <a href="/course/{{course['NAME']}}" class="button tiny round">Continue</a>
					    {% endif %}
					</div>
				    </div>
				    <div class="row">
					<div class="large-10 large-offset-1 columns text-justify">
					    <p>{{ course['BLURB'] }}</p>
					</div>
				    </div>
				    <div class="progress large-10 large-offset-1 round">
					<span class="meter" style="width: 40%">
					</span>
				    </div>
				</div>
			    </div>
			</div>
		    {% endfor %}
		</div>
	    </li>
	    <li class="accordion-navigation text-center">
	    <a href="#complete">Completed Modules</a>
		<div id="complete" class="content">
		</div>
	    </li>
	</ul>
    </div>
</div>
{% endblock %}
