{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
	<div class="large-4 small-12 columns text-center">
	    <ul class="pricing-table">
		<li class="price text-left">Courses</li>
		<a href="/course">
		    <li class="title text-right">
		    <i class="fi-pencil"></i></li>
		</a>
	    </ul>
	</div>
	<div class="large-4 small-12 columns text-center">
	    <ul class="pricing-table">
		<li class="price text-left">Profile</li>
		<a href="/profile">
		    <li class="title text-right red">
		    <i class="fi-torso"></i></li>
		</a>
	    </ul>
	</div>
	<div class="large-4 small-12 columns text-center">
	    <ul class="pricing-table">
		<li class="price text-left">Settings</li>
		<a href="#">
		    <li class="title text-right green">
		    <i class="fi-widget"></i></li>
		</a>
	    </ul>
	</div>
    </div>
    <div class="row">
	<div class="large-12 small-12 columns text-center">
	    <div class="panel">
		//
	    </div>
	</div>
    </div>
</div>
{% endblock %}
