<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pagetitle }}</title>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/foundation-icons.css" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/modernizr.js"></script>
    <script src="../static/js/foundation/foundation.js"></script>
    <script src="../static/js/foundation/foundation.equalizer.js"></script>
    <script src="../static/js/foundation/foundation.alert.js"></script>
    <script src="../static/js/classie.js"></script>                           
    <script src="../static/js/notificationFx.js"></script>
    <link rel="stylesheet" href="../static/css/demo.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>

    <body>
    <!-- side navbar -->
    <div class="side__navigation">
	<a class="side-navigation__logo">AusCERT Security Training</a>
	<ul class="side-navigation__content">
	    <li class="user__name text-center">&nbsp;<span>Welcome, {{ name }}!</span></li>
	    <li class="toggle__side"><a href=""><i class="fi-list"></i></a></li>
	{% if is_admin %}
	    <li><a href="/dashboard">
		<i class="fi-clipboard-pencil"></i>
		<span>View Dashboard</span>
	    </a></li>
	    <li><a href="/edit">
		<i class="fi-widget"></i>
		<span>Edit Courses</span>
	    </a></li>
	    <li><a href="/admin">
		<i class="fi-torsos-all"></i>
		<span>Manage Administrators</span>
	    </a></li>
	{% else %}
	    <li><a href="/modules">
		<i class="fi-book-bookmark"></i>
		<span>My Courses</span>
	    </a></li>
	    <li><a href="/modules">
		<i class="fi-results"></i>
		<span>My Grades</span>
	    </a></li>
	{% endif %}
	    <li><a href="">
		<i class="fi-power"></i>
		<span>Log Out</span>
	    </a></li>
	</ul>
    </div>

    <div class="top__navigation">
	<div class="large-12 columns text-left">
	    <p class="title" <b>{{ subtitle }}</b></p>
	</div>
    </div>

    <!-- PAGE BODY -->
    <div class="main__page">
    {% block content %}
    {% endblock %}
    </div>
    
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
	$(".toggle__side").on("click", function(e) {
	    e.preventDefault();
	    $(".side__navigation").toggleClass("side-navigation__toggle");
	    $(".main__page").toggleClass("main-page__expand");
	    $(".side__navigation span").toggleClass("toggle__visibility");
	    $(".title").toggleClass("title__expand");
	});

	$(window).resize(function () {
	    if ($(window).width() <= 700) {
		if ($(".side__navigation").hasClass("side-navigation__toggle")) {
		    $(".toggle__side").addClass("toggle__visibility");
		} else {
		    $(".side__navigation").toggleClass("side-navigation__toggle");
		    $(".top__navigation").toggleClass("top-navigation__expand");
		    $(".title").toggleClass("title__expand");
		    $(".main__page").toggleClass("main-page__expand");
		    $(".side__navigation span").toggleClass("toggle__visibility");
		}
	    } else {
		$(".toggle__side").removeClass("toggle__visibility");
	    }
	});
    </script>
  </body>
</html>
