{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
{% endblock %}

{% block content %}
<div class="main__page">
    <div class="row text-center">
	    <div style="height:50%;width:50%;margin:0 auto;">
		<iframe src="//fast.wistia.net/embed/iframe/lqhjwgu121?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%">
		</iframe>
	    </div>
	<script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>

    <div class="row" data-equalizer>
	<div class="large-5 large-offset-1 small-12 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__top manage__administrators clickable">
		<div class="row">
		    <div class="large-8 columns">
			<h4>Quick Starter Guide for Administrators</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__blue"><i class="fi-first-aid"></i></div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content text-justify' data-equalizer-watch>
		    <p> New around? Download this useful guide for starters.
		    <span data-tooltip aria-haspopup="true" class="has-tip" title="<b>Features</b> may change depending of your credentials.">Explore the amazing features you have access to when login as an Administrator. </span></p>
		</div>	
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel blue colourblock__bottom thin text-center admin__trigger clickable">
		<a href="/quickstart-pdf/Admin_quick_starter.pdf" target="_blank" <i class="fi-info"></i>  View Quick Starter Guide for Administrators</a>
	    </div></div></div>
	</div>	

	<div class="large-5 end small-12 columns">
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__top view__statistics clickable">
		<div class="row">
		    <div class="large-8 columns">
			<h4>Quick Starter Guide for Regular Users</h4>
		    </div>
		    <div class="large-4 columns">
			<div class="circle text-center text__purple">
			    <i class="fi-first-aid"></i>
			</div>
		    </div>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel panel__middle">
		<div class='panel_content text-justify' data-equalizer-watch>
		    <p> New around? Download this useful guide for starters. Discover how to get more out of this platform and optimize your training.</p>
		</div>
	    </div></div></div>
	    <div class="row"><div class="large-12 columns"><div class="panel purple colourblock__bottom thin text-center filter__trigger clickable">
		<a href="/quickstart-pdf/User_quick_starter.pdf" target="_blank"><i class="fi-info"></i>  View Quick Starter Guide for Regular Users  </a>
	    </div></div></div>
	</div>
    </div>

</div>
{% endblock %}
{% block jscripts %}
<script src="../static/js/admin_dashboard.js"></script>
{% endblock %}
