{% extends "layout.html" %}  

{% block scripts %} 
<link rel="stylesheet" href="../static/css/reveal.css">
<link rel="stylesheet" href="../static/css/theme/uq.css" id="theme">
{% endblock %}

{% block content %}

    <!-- Pop-up message in case the user submits a quiz without selecting an answer -->
    <div id = "promptAnswer" class = "reveal-modal small" data-reveal aria-labelledby="stop" aria-hidden = "true" role = "dialog">
	<h3 id = "stopModalTitle"> You have not selected an option! </h3>
	<p>You cannot proceed to the next slide without completing the question.</p>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <!-- Pop-up message in case the user selects more than one answer in a quiz -->     
    <div id = "promptSelect" class = "reveal-modal small" data-reveal aria-labelledby="stop" aria-hidden = "true" role = "dialog">
	<h3 id = "stopModalTitle"> Please select only one option! </h3>
	<p>You have selected more than one answer. Please go back and correct this.</p>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <div class="reveal">
	<div class="small-12 columns text-center">
	    <h4>module - {{ module_title }}</h4>
	</div>

	<div class="slides text-left">
	    <!-- LECTURE SEGMENT -->
	    {% for slide in slides %}
		<section>
		<h2 class="text-center">{{ slide['title'] }}</h2>
		{% for line in slide['contents'] %}
		    <p >{{ line }}</p>
		{% endfor %}
		</section>
	    {% endfor %}

	    <!-- QUIZ SEGMENT -->
            {% for question in quizzes %}                 
	        <section>
		    <h3>{{ question['QUESTION'] }}</h3>
		    <form id = "{{ question['QUESTION_ID'] }}">
                    <ul class = "quiz">
                        {% for answer in answers %}
		            {% if answer['QUESTION_ID'] == question ['QUESTION_ID'] %}
			    <li><input type="checkbox" value = "{{ answer['ANSWER_ID'] }}">&emsp;{{ answer['ANSWER'] }}</li>
			    {% endif %}
                        {% endfor %}
			<input type="submit" class="tiny round button" value="Submit" />
                    </ul>
                    </form>
		</section>
	    {% endfor %}

	    <section class="text-center">
		<h1> THE END !</h1>
	    </section>
	</div>
    </div>
    <script src="../static/lib/js/head.min.js"></script>
    <script src="../static/js/reveal.js"></script>
    <script>                                                        
	Reveal.initialize({                                     
	    width: 1200,
	    height: 1200,
	    minScale: 0.5,
	    maxScale: 2.5,
	    controls: true,                                 
	    progress: true,                                 
	    history: true,                                  
	    center: true,                                   
	    transition: 'convex',
	    embedded: true
	});
    </script>    
    <script>                                                        
	$('#bestKitty').bind('submit', function(e) {
	    console.log("clicked");
	    e.preventDefault();
	    var selected = $("input[name='kitty']:checked").length;
	    if (selected == 0) {
		$('#promptAnswer').foundation('reveal', 'open');
	    } else if (selected > 1) {
		$('#promptSelect').foundation('reveal', 'open');
	    } else {
	    //
	    }
	});
    </script>    
</div>
{% endblock %}
