{% extends "layout.html" %}

{% block content %}
<div class="main__page">
    <div class="row">
         <div class="large-6 large-offset-3 columns">
            {% with errors = get_flashed_messages(category_filter=["invalid"]) %}
                {% if errors %}
                    <div data-alert class="alert-box warning radius text-center">
                        {% for message in errors %}
                            <b>{{ message }}</b><br>
                        {% endfor %}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row">
        <div class="row collapse">
            <div class="small-12 columns">
                <ul class="tabs" data-tab>
                    <li class="tab-title"><a href="#panel-1"><i class="fi-play"></i>Ongoing</a></li>
                    <li class="tab-title"><a href="#panel-2"><i class="fi-calendar"></i>Scheduled</a></li>
                    <li class="tab-title"><a href="#panel-3"><i class="fi-loop"></i>Completed</a></li>
                </ul>

                <div class="tabs-content">
                    <!-- COURSES IN PROGRESS TAB SECTION-->
                    <div class="content active" id="panel-1">
			{% if num_in_progress >= 1 %}
			<h3 class="subheader">You have {{ num_in_progress }} modules in progress</h3>
                        <div class=panel>
                            <div class="row">
                                <div class="small-12 columns">
                                    <!-- FOR LOOP TO GENERATE CLASS INFO BLOCKS OF MODULES IN PROGRESS -->
                                    {% for module_id in modules_in_progress %}
					{% for module in active_modules %}
					    {% if module_id == module['MODULE_ID'] %}
						 <div class="large-10 columns text-left">
                                                    <h5>{{ module['NAME'] }}</h5>
                                                </div>

                                                <div class="large-2 columns text-right">
                                                        <a href="/module/{{module['NAME']}}" class="button tiny round">Continue</a>
                                                </div>
						<div class="progress">
	                                            <!-- ADD PERCENTAGE PROGRESS -->
						     <span class="meter blue" style="width:65%">
							<p class="percent">x%</p>
						    </span>
					        </div>					        
					    {% endif %}
					{% endfor %}
				    {% endfor %}
                                    <!-- END FOR LOOP -->
                                </div>
                            </div>
                        </div>
			{% else %}
                            <div id="incomplete" class="content text-center">
                                <h3 class="subheader" >No Modules in Progress!</h3>
                            </div>
			{% endif %}
                    </div>
                    <!-- END OF ONGOING COURSES TAB SECTION-->

                    <!-- SCHEDULED COURSES SECTION-->
                     <div class="content" id="panel-2">
                        <div class="row">
                            {% if num_incomplete >= 1 %}
                            <div id="incomplete" class="content active">
                                <div class="panel">
                                    <h3 class="subheader" >You have {{ num_incomplete }}  modules Scheduled</h3>
    				    <div id="complete" class="content">
	                                <div class="row">
					<!-- FOR LOOP TO GENERATE CLASS INFO BLOCKS -->
					{% for module in active_modules %}
					    <!-- NEED TO ADD CONDITION FOR MODULE NOT STARTED -->
					    {% if module['MODULE_ID'] not in modules_completed %}
						<div class="large-12 columns">
						    <div class="row">
							<div class="medium-4 columns">
							    <div class="profile-card">
								<img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
								<div class="profile-info">
								    <h4 class="subheader">{{ module['NAME'] }}</h4>
								    <p><a href="/module/{{module['NAME']}}">Start</a></p>
								</div>
							    </div>
							</div>
						    </div>
						</div>
					    {% endif %}
					{% endfor %}
					</div>
				    </div>                           
				</div>
			    </div>
                            {% else %}
                                <div id="incomplete" class="content text-center">
                                    <h3 class="subheader" >All modules completed!</h3>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- COMPLETED COURSES SECTION-->
                    <div class="content" id="panel-3">
                        <div class="row">
                            {% if modules_completed %}
			    <div class="panel">
                            <h3 class="subheader">You have completed {{num_complete}} Modules</h3>
                                <div id="complete" class="content">
                                    <div class="row">
                                    <!-- FOR LOOP TO GENERATE CLASS INFO BLOCKS -->
                                    {% for module in active_modules %}
                                        {% if module['MODULE_ID'] in modules_completed %}
                                            <div class="large-12 columns">
						<div class="row"> 
                                                    <div class="medium-4 columns">
                                                        <div class="profile-card">
                                                            <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
								<div class="profile-info">
		
                                                                <h4 class="subheader">{{ module['NAME'] }}</h4>																<p><a href="/review/{{module['NAME']}}">Review</a> | <a href="/grades/{{module['NAME']}}">Grades</a></p>
                                                            </div>
                                                        </div>
                                                    </div>   
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
			    </div>
                            {% else %}
                                <div id="incomplete" class="content text-center">
                                    <h3 class="subheader" >You haven't completed any modules!</h3>
                                </div>
                            {% endif %}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
