{% extends "layout.html" %}

{% block scripts %}
    <link rel="stylesheet" href="../static/css/colourblock.css" />
{% endblock %}


{% block content %}
<div class="main__page">
    <div class="row">
         <div class="large-6 large-offset-3 columns">
            {% with errors = get_flashed_messages(category_filter=["invalid"]) %}
                {% if errors %}
                    <div data-alert class="alert-box warning radius text-center">
                        {% for message in errors %}
                            <b>{{ message }}</b><br>
                        {% endfor %}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row">
	<div class="large-11 large-offset-1 small-12 columns">
	    <ul class="tabs" data-tab>
		<li class="tab-title"><a href="#panel-1" class="teal"><i class="fi-play"></i>Ongoing&ensp;({{ num_in_progress }})</a></li>
		<li class="tab-title"><a href="#panel-2" class="blue"><i class="fi-calendar"></i>Scheduled&ensp;({{ num_scheduled }})</a></li>
		<li class="tab-title"><a href="#panel-3" class="purple"><i class="fi-loop"></i>Completed&ensp;({{ num_complete }})</a></li>
	    </ul>
	</div>
    </div>

    <div class="row"><div class="large-10 large-offset-1 small-12 columns"><div class="tabs-content user-modules text-center">
	<!-- COURSES IN PROGRESS TAB SECTION-->
	<div class="row content active" id="panel-1">
	    {% if num_in_progress >= 1 %}
	    <h3 class="subheader">{{ num_in_progress }} Modules in Progress!</h3>
		<div class="row"><div class="small-12 columns">
		    {% for module in active_modules %}
			{% if module['MODULE_ID'] in modules_in_progress %}	
			<div class="medium-6 columns">
			    <div class="profile-card">
				<h4 class="subheader" data-equalizer-watch>{{ module['NAME'] }}</h4>
				<div class="progress">
				    {% for slide in last_viewed_slide %}
					{% if slide['MODULE_ID'] == module_id %}
					    <span class="meter blue" style="width:65%; height: 100%">
					    </span>
					{% endif %}
				    {% endfor %}
				</div>		    
				 <p class="blue profile-text"><a href="/module/{{module['NAME']}}" >Continue</a></p> 
			    </div>
			</div>        
			{% endif %}
		    {% endfor %}
		</div></div>
	    {% else %}
		<h3 class="subheader">No Modules in Progress!</h3>
	    {% endif %}
	</div>

	<!-- SCHEDULED COURSES SECTION-->
	 <div class="row content" id="panel-2">
	    {% if num_scheduled >= 1 %}
		<h3 class="subheader" >{{ num_scheduled }} Module(s) Scheduled!</h3>
		<div class="row" data-equalizer><div class="small-12 columns">
		    <!-- FOR LOOP TO GENERATE CLASS INFO BLOCKS -->
		    {% for module in active_modules %}					   
			{% if (module['MODULE_ID'] not in (modules_completed)) and (module['MODULE_ID'] not in (modules_in_progress)) %}
			    <div class="medium-6 columns">
				<div class="profile-card">
				    <h4 class="subheader" data-equalizer-watch>{{ module['NAME'] }}</h4>
				    <a href="/module/{{module['NAME']}}" class="blue profile-text">Start</a>
				</div>
			    </div>
			{% endif %}
		    {% endfor %}
		</div></div>                           
	    {% else %}
		<h3 class="subheader" >No modules scheduled!</h3>
	    {% endif %}
	</div>

	<!-- COMPLETED COURSES SECTION-->
	<div class="row content" id="panel-3">
	    {% if modules_completed %}
	    <h3 class="subheader">{{num_complete}} Module(s) Complete!</h3>
		<div class="row" data-equalizer="title"><div class="large-12 columns">
		<!-- FOR LOOP TO GENERATE CLASS INFO BLOCKS -->
		{% for module in active_modules %}
		    {% if module['MODULE_ID'] in modules_completed %}
			<div class="medium-6 columns">
			    <div class="profile-card">
				<h4 class="subheader" data-equalizer-watch="title">{{ module['NAME'] }}</h4>
				<a href="/review/{{module['NAME']}}" class="purple profile-text">Review</a>
				<a href="/grades/{{module['NAME']}}" class="purple profile-text">Grades</a>
			    </div>
			</div>   
		    {% endif %}
		{% endfor %}
		</div>
	    {% else %}
		<h3 class="subheader" >You haven't completed any modules!</h3>
	    {% endif %}
	</div>
    </div></div></div>
</div>
{% endblock %}
{% block jscripts %}
<script>
    $(document).foundation('equalizer', 'reflow');
</script>
{% endblock %}
