{% extends "layout.html" %}  

{% block scripts %} 
<link rel="stylesheet" href="../static/css/reveal.css">
<link rel="stylesheet" href="../static/css/theme/uq.css" id="theme">
<script src="../static/lib/js/head.min.js"></script>
<script src="../static/js/reveal.js"></script>
{% endblock %}

{% block content %}
<div class="reveal">
    <div class="slides">
	<!-- LECTURE SEGMENT -->
	{% for slide in slides %}
	    <section>
	    <!-- handling different types of content -->
		<h3>{{ slide['TITLE'] }}</h3>
		{{ slide['CONTENT'] | safe}}
	    </section>
	{% endfor %}

	<section class="text-center">
	    <h1> THE END !</h1>
	    <a href="/">Back to Module List</a>
	</section>
    </div>
</div>
{% endblock %}
{% block jscripts %}
<script src="../static/js/user_module.js"></script>
{% endblock %}
