{% extends "layout.html" %}
{% block scripts %}
<link rel="stylesheet" href="../static/css/colourblock.css" />
{% endblock %}

{% block content %}
<div class="main__page">
    <div class="small-10 small-offset-1 columns">
	<ul class="accordion" data-accordion>
        <li class="accordion-navigation">  	
        <a href="#complete" class="teal"><i class="fi-plus"></i>  {{module_title}} Grade</a>
	<div id="complete" class="content active">
	    <div class="row">
		<div class="large-12 columns">
		    <div class="panel">
			<div class="row">

                            <div class="large-10 columns text-left">
	                        <p>You got {{ num_correct_answers }} correct out of the {{number_of_questions}} questions in the {{module_title}} quiz.</p>
		            </div>
		            
			    <div class="large-2 columns text-right">
			    	<a href="/modules" class="button tiny radius blue">Main Page</a>
			    </div>
			</div>

			<div class="row">                                                  
			    <div class="large-9 columns user__bar">                       
				<div class="progress large-12 user__grades">               
				    <span class="meter blue" style="width:{{ percentage_correct }}%"></span>
				</div>                                                     
			    </div>                                                         
			    <div class="large-1 end columns text-left user__percent">{{ percentage_correct }}%</div>
			</div>
		   
		    </div>
		</div>
	    </div>               
	</div>
	</li>
	
	<li class="accordion-navigation">
	    <a href="#answers" class="teal"><i class="fi-plus"></i> Quiz Answers </a>
            <div id="answers" class="content">
		<div class="row">
		    <div class="large-12 columns">
			<div class="row">
			    <div class="large-10 large-offset-1 columns text-justify">
				{% for question in quizzes %}
				    <div class="large-12 columns panel blue colourblock__top thin user__question">
					<div class="large-12 columns">
					    <h5>{{ question['QUESTION'] }}</h5>
					</div>                                                                 
				    </div>
				    <div class="large-12 columns panel panel__middle">
					    {% for answer in answers %}
						{% if answer['QUESTION_ID'] == question['QUESTION_ID'] %}
						    {% if answer['ANSWER_ID'] in correct_answers %}
							<i class="fi-check text__teal"></i>
						    {% else %}
							<i class="fi-x"></i>
						    {% endif %}
						    {% if answer['ANSWER_ID'] in user_answers %}
							&emsp;<u>{{ answer['ANSWER'] }}</u><br>
						    {% else %}
							&emsp;{{ answer['ANSWER'] }}<br>
						    {% endif %}
						{% endif %}		    
					    {% endfor %}
				    </div>
				    <div class="large-12 columns purple panel colourblock__bottom thin text-right user__percent">
					<span>{{ question['SUCCESS'] }} % answered this question correctly</span>
				    </div>
				{% endfor %}
			    </div>
			</div>
		    </div>
		</div>
            </div>
        </li>
	</ul>
    </div>
</div>
{% endblock %}
